.list {
    list-style-type: none;
    width: 100%;
    padding: 0px;
}

.experienceListItem {
    margin-bottom: 10px;
    width: 100%;
    display: inline-block;
}

.experienceListItem:last-child {
    margin-bottom: -20px;
}

.experienceLeftPanel {
    align-items: stretch;
    flex: 1;

    margin-top: 12px;
    font-style: italic;
    font-size: 13px;
    font-family: Arial;
    text-align: right;
    float: left;
    width: 21%;
}

.experienceLeftPanel span {
    margin-right: 14px;
}

.experienceLeftPanel .label {
    float: right;
    width: 100%;
}

.experienceRightPanel {
    border-left: 2px #00bfb9 solid;
    float: right;
    width: 77.5%;
}

.experienceRightPanel span {
    margin-left: 20px;
}

.experienceRightPanel .title {
    font-size: 14px;
    margin-top: 10px;
    float: left;
    width: 100%;
    font-weight: bold;
    font-family: Arial;
}

.experienceRightPanel .experience {
    font-family: Arial;
    font-size: 12px;

    color: lightgrey;

    font-style: italic;
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.experienceRightPanel .technologies {
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

